body {
    padding: 2rem;
    padding-top: -2rem;
    margin: 2rem;
    margin-top: -1rem;
    background-color: #08d9d6;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    /* border: 0.1rem solid black; */
  }

  .about{
    float: left;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .header {
    text-align: left;
    margin-left: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .img_css {
    border-radius: 100%;
    border:  rgb(255, 255, 108) 0.1rem solid;
    height: 3rem;
    width: 3rem;
    position: relative;
    text-align: center;
  }
  
  .nav {
    margin: 0.1rem;
    border: 0.1rem solid #ff2e63;
    padding: 1rem;
    width: 90%;
    text-align: right;
  }
  
  .nav a {
    color: rgb(255, 255, 108);
    font-size: 1.4rem;
    padding: 0.8rem;
    letter-spacing: 0.2rem;
  }
  
  .img_illustration{
    margin: 0.2rem;;
    height: 30%;
    width: 30%;
  }
  .Projects,
  .Blogs {
    
    margin: auto;
    margin-bottom: 1rem ;
    padding: 0.2rem 0.5rem;
    border: 0.1rem rgb(255, 127, 127) solid;
    cursor: pointer;
    box-shadow: 0.15rem 0.15rem 0.15rem rgb(255, 255, 108);
    width: 30%;
  }
  
  .head {
    color: rgb(255, 255, 108);
  }
  
  .tech{
    margin-bottom: 5rem;
  }
  
  .Projects:hover,
  .Blogs:hover {
    background: rgb(117, 189, 189);
    transition-delay: 50ms;
  }

  .links{
      margin: auto;
      letter-spacing: 0.01rem;
  }
   