body {
    padding: 2rem;
    padding-top: -2rem;
    margin: 2rem;
    margin-top: -1rem;
    background-color: #08d9d6;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-size: larger;
    /* border: 0.1rem solid black; */
  }

  a{
      text-decoration: none;
      color: white;
  }

  .about{
    float: left;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .header {
    text-align: left;
    margin-left: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .img_css {
    border-radius: 100%;
    border:  rgb(255, 255, 108) 0.1rem solid;
    height: 3rem;
    width: 3rem;
    position: relative;
    text-align: center;
  }
  
  .nav {
    background-color: #33d3d0;
    margin: 0.1rem;
    border: 0.1rem solid #ff2e63;
    padding: 1rem;
    width: 90%;
    text-align: right;
  }
  
  .nav a {
    color: rgb(255, 255, 108);
    font-size: 1.4rem;
    padding: 0.8rem;
    letter-spacing: 0.2rem;
  }
  
  .img_illustration{
    margin: 0.2rem;;
    height: 30%;
    width: 30%;
  }
  .Projects,
  .Blogs, .listOfProjects li, .listOfBlogs li {
    background-color: #33d3d0;
    margin: auto;
    margin-bottom: 1rem ;
    padding: 0.2rem 0.5rem;
    border: 0.1rem rgb(255, 127, 127) solid;
    cursor: pointer;
    box-shadow: 0.15rem 0.15rem 0.15rem rgb(255, 255, 108);
    width: 60%;
  }
  
  .head {
    color: rgb(255, 255, 108);
  }
  
  .tech{
    margin-bottom: 5rem;
  }
  
  .Projects:hover,
  .Blogs:hover {
    background: rgb(117, 189, 189);
    transition-delay: 50ms;
  }

  .links a{
      margin: auto;
      letter-spacing: 0.01rem;
  }

  .links a:hover{
    text-decoration: underline;
  }

  /* .listOfProjects{
      height: 50%;
      width: 50%;
      padding:1rem;
      margin: auto;
  } */

  .listOfProjects li, .listOfBlogs li{
      cursor: default;

  }

  .listOfProjects button, .listOfBlogs button{
        background-color: rgb(255, 127, 127);
        font-size: 100%;
        margin: auto;
        padding: 0.4rem;
        color: white;
        border-radius: 5%;
    }

  .listOfProjects h4, .listOfBlogs h4{
      font-size: 1.3rem;
      color: rgb(255, 255, 108);
  }
   
  footer{

    padding: 1rem;
    margin: 1rem;
    background-color: #33d3d0;
    margin-top: 40rem;
    width: 70%;
    margin: auto;
  }

  footer h4{
    text-decoration: underline;
  }


  /* for blog.html */

  h1, h2{
    margin: 3rem;
  }

  /* demo blog */
  section {
    border: rgb(72, 232, 243) solid 1px;
    padding: 30px;
    padding-top: 0px;
    background: rgb(64, 192, 201);
    border-radius: 10px;
  }